{% extends "base.html" %}

{% block section%}
<!--
  <div class="row mt-4 mb-4">
    <div class="col-sm-6">
      <button class="btn btn-warning" type="button"><i class="bi bi-card-list"><a class="ujadatlink" href="../ujadat/">- Új felvételiző adatainak rögzítése</a></i></button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-warning" type="button"><i class="bi bi-card-list"><a class="ujadatlink" href="../ujszak/">- Új szak rögzítése</a></i></button>
    </div>
  </div>
  -->


{% endblock section%}