{% extends "base.html" %}

{% block section %}
    <div class="bg-body-secondary mb-3 mt-3 p-3 rounded-3 border">
        <h1 class="text-center">Ha levelet szeretnél küldeni:</h1>
        <hr>
        <div class="text-center" style="font-size: 3em;">
           <div class="badge bg-primary">
               <p>{{ kapcsolatiAdatok.nev }}</p>
               <p>{{ kapcsolatiAdatok.email }}</p>
           </div>
        </div>
        <hr>
        <br>
        <hr>

        <h1 class="text-center">Ha érdekel a boszorkánykonyha:</h1>
        <hr>
        <div class="text-center" style="font-size: 3em;">
           <div class="badge bg-dark">
                <p>
                    <img src="https://static.vecteezy.com/system/resources/previews/017/119/660/original/github-logo-git-hub-icon-with-text-on-white-and-black-background-free-vector.jpg" height="40px"/>
                    {{ kapcsolatiAdatok.github }}
                </p>
           </div>
        </div>
        <hr>


    </div>
{% endblock section %}