{% extends "base.html" %}

{% block section %}

    <form class="bg-warning mb-5 mt-5 p-3" method="POST">
        {% csrf_token%}
        {{ ujvaros.as_p }}
        <input type="submit" class="btn btn-success m-4" value="Rögzítés">
    </form>
 
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for adat in ujvarosAdatok %}
            <div class="col">
                <div class="p-3 border bg-light">
                    <div class="myadat">{{ adat.varosMegnevezes }}</div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>

{% endblock section %}
